<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="aes, encryption, decryption, fake" />
    <title>Modified Unsafe AES Encryption for Fun</title>

    <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

  </head>
  <body class="container-fluid" onload="encInit()">

  <div class="centering"><a href="/decryption" target="_blank"><button class="btn btn-default btn-block btn-lg">Go to the decryption page.</button></a></div>

  <h1>Encryption <span id="git-repo"><a href="https://github.com/namonakimono/FunnyEncryption" target="_blank">(git repo)</a></span></h1>
  <div class="centering">
    <h4>Encryption and decryption key for REAL text</h4>
    <input id="real-key" type="text" class="form-control" placeholder="key for real text...">
    <h4>Real text</h4>
    <textarea id="real-text" class="form-control" rows="10" placeholder="real text..."></textarea>

    <div class="top-space-1ex"></div>
    <h4>Encryption and decryption key for FAKE text</h4>
    <input id="fake-key" type="text" class="form-control" placeholder="key for fake text...">
    <h4>Fake text</h4>
    <textarea id="fake-text" class="form-control" rows="10" placeholder="fake text..."></textarea>

    <div class="top-space-3ex"></div>
    <button class="btn btn-primary btn-lg" onclick="runEnc()">Encrypt</button>
    <hr />
    <h4>Encrypted text</h4>
    <textarea readonly id="encrypted-text" class="form-control" rows="20" placeholder="Encrypted text..."></textarea>

    <div class="top-space-3ex"></div>
    <button class="btn btn-primary btn-lg" onclick="copyEncryptedText()">Copy encrypted text</button>
  </div>

  <div class="top-space-3ex"></div>
  <div class="centering"><a href="/decryption" target="_blank"><button class="btn btn-default btn-block btn-lg">Go to the decryption page.</button></a></div>
  </body>