body{
  /* Setting the default text color, size, page background and a font stack: */
  /*color:#fcfcfc;*/
  /*background-color:#355664;*/
  font-family: Georgia, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}


.centering {
  text-align: center;
}

h4 {
  margin-top: 2ex;
}

.top-space-1ex {
  padding-top: 1ex;
}


.top-space-3ex {
  padding-top: 3ex;
}

#git-repo {
  font-size: smaller;
}